---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
  <section class="flex items-center box-border w-screen h-screen justify-center flex-row bg-cover">
		<figure class="hidden md:flex w-4/12 h-5/6 bg-slate-100 ml-10 rounded-lg shadow-lg"></figure>
		<article class="flex flex-col box-border p-7 items-center max-w-lg md:max-w-none md:mr-32 md:w-8/12 md:ml-8 lg:px-14">
			<img src="http://via.placeholder.com/300x300.jpg" class="hidden sm:flex md:hidden rounded-full w-64 h-64 mb-6" alt="my picture">
			<div class="flex flex-col lg:flex-row gap-4">
				<div class="hidden lg:flex w-12 h-1 bg-accent top-4 rounded-full mt-10"></div>
				<h1 class="flex flex-col uppercase text-center md:text-left text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mt-4 mb-3 w-full" lang="es">
					<span class="name">Eliam Zamora.</span>
					<span lang="es" class="md:text-3xl lg:text-6xl">Ingeniero fullstack</span>
					<span lang="en"  hidden class="md:text-3xl lg:text-6xl">Fullstack Engineer</span>
				</h1>
			</div>
			<p class="mt-2 sm:text-center md:text-justify lg:max-w-2xl" lang="es">Tengo experiencia en bases de datos relacionales, Java y frameworks JS. Disfruto los desafíos, experimentar con cosas nuevas y encontrar solución a problemas por medio del análisis y el entendimiento del negocio.</p>
			<p class="mt-2 sm:text-center md:text-justify lg:max-w-2xl" lang="en" hidden>I'm experienced in relational databases, Java and JS frameworks. I enjoy challenges, to try new things and to find solutions to problems through analysis and understanding of the business' needs.</p>
		</article>
  </section>
</Layout>

<style>
	h1 > span.name::before {
		content: '';
    position: relative;
    left: -10px;
    top: 29px;
    height: 4px;
    width: 40px;
    border-radius: 10px;
	}

	span.name {
		color: #e8aa38;
	}
</style>