---
import NavIcon from "./NavIcon.astro";
import ThemeIcon from "./ThemeIcon.astro";
import LangIcon from "./LangIcon.astro";
---
<nav class="fixed top-1/3 right-0 w-16 h-auto flex items-center">
  <ul class="flex flex-col w-16 h-screen">
    <NavIcon destination="/lightweight-intro"
      path1="m4.75,10.74v4.32c0,.52.42.94.94.94h1.88c.52,0,.94-.42.94-.94v-2.06c0-.41.34-.75.75-.75h1.5c.41,0,.75.34.75.75v2.06c0,.52.42.94.94.94h1.88c.52,0,.94-.42.94-.94v-4.32s-5.25-4.57-5.25-4.57l-5.25,4.57Z"
      path2="m4,10.74h.75l5.25-4.57,5.25,4.57h.75c.4,0,.75-.33.75-.75.02-.21-.07-.4-.26-.56l-5.99-5.26c-.14-.12-.33-.16-.49-.16s-.35.02-.52.19l-6.01,5.24c-.16.16-.23.35-.23.56,0,.42.33.75.75.75Z"
      label="INICIO"
    />
    <NavIcon destination="/lightweight-intro/about"
      path1="m8.93,11.12c-2.31,0-4.18,1.87-4.18,4.18,0,.38.31.7.7.7h9.11c.38,0,.7-.31.7-.7,0-2.31-1.87-4.18-4.18-4.18h-2.14Z"
      path2="m10,10c1.66,0,3-1.34,3-3s-1.34-3-3-3-3,1.34-3,3,1.34,3,3,3Z"
      label="ACERCA"/>
    <!-- <NavIcon destination="/skills"
      path1="m11.5,4.75h-7.5c-.83,0-1.5.67-1.5,1.5v5.25c0,.83.67,1.5,1.5,1.5h2.75l-.25.75h-1.75c-.41,0-.75.34-.75.75s.34.75.75.75h6c.41,0,.75-.34.75-.75s-.34-.75-.75-.75h-1.75l-.25-.75h2.75c.83,0,1.5-.67,1.5-1.5v-5.25c0-.83-.67-1.5-1.5-1.5Zm0,6.75h-7.5v-5.25h7.5v5.25Z"
      path2="m16.38,4.75h-1.5c-.62,0-1.12.5-1.12,1.12v8.25c0,.62.5,1.12,1.12,1.12h1.5c.62,0,1.12-.5,1.12-1.12V5.88c0-.62-.5-1.12-1.12-1.12Zm-.75,8.62c-.41,0-.75-.34-.75-.75s.34-.75.75-.75.75.34.75.75-.34.75-.75.75Zm.38-4.88h-.75c-.21,0-.38-.17-.38-.38s.17-.38.38-.38h.75c.21,0,.38.17.38.38s-.17.38-.38.38Zm0-1.5h-.75c-.21,0-.38-.17-.38-.38s.17-.38.38-.38h.75c.21,0,.38.17.38.38s-.17.38-.38.38Z"
      label="HABILIDADES"
    /> -->
    <NavIcon destination="/lightweight-intro/work"
      path1="m16.35,10.82h-4.5v.75c0,.41-.34.75-.75.75h-1.5c-.41,0-.75-.34-.75-.75v-.75h-4.5v3c0,.83.67,1.5,1.5,1.5h9c.83,0,1.5-.67,1.5-1.5v-3Z"
      path2="m14.85,6.32h-1.5v-.94c0-.72-.59-1.31-1.31-1.31h-3.38c-.72,0-1.31.59-1.31,1.31v.94h-1.5c-.83,0-1.5.67-1.5,1.5v2.25h12v-2.25c0-.83-.67-1.5-1.5-1.5Zm-2.62,0h-3.75v-.94c0-.1.08-.19.19-.19h3.38c.1,0,.19.08.19.19v.94Z"
      label="TRABAJOS"
    />
    <!-- <NavIcon destination="/blog"
      path1="m6.25,7.38c0-.62-.5-1.12-1.12-1.12s-1.12.5-1.12,1.12v5.25c0,1.86,1.51,3.38,3.38,3.38s3.38-1.51,3.38-3.38-1.51-3.38-3.38-3.38h-.38v2.25h.38c.62,0,1.12.5,1.12,1.12s-.5,1.12-1.12,1.12-1.12-.5-1.12-1.12v-5.25Z"
      path2="m8.5,4.75c0,.41.34.75.75.75,2.9,0,5.25,2.35,5.25,5.25,0,.41.34.75.75.75s.75-.34.75-.75c0-3.73-3.02-6.75-6.75-6.75-.41,0-.75.34-.75.75Zm0,2.25c0,.41.34.75.75.75,1.66,0,3,1.34,3,3,0,.41.34.75.75.75s.75-.34.75-.75c0-2.48-2.02-4.5-4.5-4.5-.41,0-.75.34-.75.75Z"
      label="BLOG"
    /> -->
    <NavIcon destination="/lightweight-intro/contact"
      path1="m7.25,12.04c2.63,0,4.75-1.8,4.75-4.02s-2.13-4.02-4.75-4.02-4.75,1.8-4.75,4.02c0,.88.34,1.7.91,2.36-.08.21-.2.4-.32.56-.11.14-.22.25-.3.33-.04.04-.08.07-.1.08-.01,0-.02.02-.03.02h0c-.13.1-.18.26-.13.41s.19.25.35.25c.5,0,1-.13,1.42-.29.21-.08.41-.17.58-.26.7.35,1.52.55,2.39.55Z"
      path2="m12.74,8.02c0,2.57-2.26,4.5-4.95,4.73.56,1.7,2.4,2.95,4.58,2.95.87,0,1.69-.2,2.39-.55.17.09.37.18.58.26.42.16.92.29,1.42.29.16,0,.3-.1.35-.25.05-.15,0-.32-.13-.41h0s-.01-.01-.03-.02c-.02-.02-.06-.05-.1-.08-.08-.08-.19-.19-.3-.33-.13-.16-.24-.35-.32-.56.57-.66.91-1.48.91-2.36,0-2.12-1.94-3.86-4.4-4.01,0,.12.01.24.01.35h0Z"
      label="CONTACTO"
    />
  </ul>
</nav>

  